<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="home">
				<h1>
				<% if @next_show.date == Date.today %>
					<%= link_to("TONIGHT", show_path(@next_show))%>
				<% else %>
					<%= link_to("NEXT SHOW", show_path(@next_show))%>
				<% end %>
				</h1>

					<ul class="list-unstyled today-show">
						<li class="band"><%= @next_show.band %></li>
						<li class="place"><%= @next_show.venue %>, <%= @next_show.city %></li>
						<li class="price"><%= @next_show.price %> euros</li>
					</ul>
			</div>
		</div>

		<div class="col-md-4">
			<div class="upcoming">

				<h2>Coming soon... </h2>
					<ul class="list-unstyled"><% @upcoming_shows.each do |event| %>
						<li><strong><%=event.date.to_s(:short)%></strong> - <%= link_to(event.band, show_path(event.id))%> </li>
						<% end %>
					</ul> 
				
			</div>	
		</div>


	</div>
</div>

